# Laravel / PHP
/vendor/
node_modules/
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/*.key
database/database.sqlite
database/*.sqlite
bootstrap/cache/*.php
/public/business/*

# Logs and OS
npm-debug.log*
logs/
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Backup folder (old project copy)
rollback_backup/
